<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Что сегодня приготовить?</ion-title>
<!--    <ion-icon slot="end" size="large" name="person-circle-outline"></ion-icon>-->
    <ion-icon slot="end" size="large" name="enter-outline" id="open-auth"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-content-wrapper">

<!--    <ion-button [disabled]="false" expand="block" fill="outline" (click)="goToPage('/test-page')">Test</ion-button>-->
    <ion-button [disabled]="false" expand="block" fill="outline" (click)="goToPage('/movies')">Все рецепты</ion-button>
    <ion-button [disabled]="true" expand="block" fill="outline" (click)="goToPage('/user-recipes')">Мои блюда</ion-button>
    <ion-button [disabled]="false" expand="block" fill="outline" (click)="goToPage('/map')">Карта</ion-button>
    <ion-button [disabled]="false" expand="block" fill="outline" (click)="goToPage('/dishes')">Dishes</ion-button>

  </div>

  <ion-modal #authAndRegModal trigger="open-auth">
    <ng-template>

      <ion-content>
        <ion-toolbar>
          <ion-title>{{!modalRegisterStatus ? 'Войдите' : 'Регистрация'}}</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="closeModal()">Отмена</ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ng-container *ngIf="!modalRegisterStatus">

          <ion-item class="auth-modal-no-account">
            <ion-text >
              Ещё нет аккаунта?
            </ion-text>
            <ion-button slot="end" class="modal-no-account-btn" fill="outline" id="open-reg" (click)="reg()">Регистрация</ion-button>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Логин</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Пароль</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

<!--          TODO логика восстановления пароля оставлена на потом-->
<!--          <ion-item class="auth-modal-no-account">-->
<!--            <ion-text >-->
<!--              Забыли логин или пароль?-->
<!--            </ion-text>-->
<!--            <ion-button slot="end" class="modal-no-account-btn" fill="outline" (click)="auth()">Восстановить</ion-button>-->
<!--          </ion-item>-->

        </ng-container>

        <ng-container *ngIf="modalRegisterStatus">

          <ion-item>
            <ion-label position="floating">Логин</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Пароль</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Повторите пароль</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

        </ng-container>

        <ion-button class="modal-enter-btn" [disabled]="true" expand="block" (click)="auth()">
          {{!modalRegisterStatus ? 'Войти' : 'Зарегистрироваться'}}
        </ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
